{% extends "base.html" %}
{% block title %}新增任务{% endblock %}
{% load staticfiles %}
{% block content %}

    <div class=" admin-content">

        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 系统设置</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 定时任务 > <a href="#">新增任务</a></dl>
            </div>
            <div class="fbneirong">


                <form class="form-horizontal" id="task_add">

                    <div class="form-group">
                        <div class="input-group col-md-4 col-md-offset-1">
                            <div class="input-group-addon" style="color: #0a628f">任务名称</div>
                            <input type="text" class="form-control" id="name" name="name" value=""
                                   placeholder="定时任务名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-4 col-md-offset-1">
                            <div class="input-group-addon" style="color: #0a628f">可选项目</div>
                            <select id="project" name="project" class="form-control">
                                <option value="">请选择</option>
                                {% for foo in  project %}
                                    <option value="{{ foo.project_name }}">{{ foo.project_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-md-4 col-md-offset-1">
                            <div class="input-group-addon" style="color: #0a628f">可选模块</div>
                            <select id="belong_module_id" class="form-control" name="module">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-md-4 col-md-offset-1">
                            <div class="input-group-addon" style="color: #0a628f">定时配置</div>
                            <input type="text" class="form-control" id="crontab_time" name="crontab_time"
                                   placeholder="crontab表达式 例如： 11 * * * *" value="">
                        </div>
                    </div>

                    

                    
                    <div class="form-group">
                        <div class="input-group col-md-4 col-md-offset-1">
                            <a class="btn btn-primary" onclick="task_add('#task_add', '{% url 'task_add' %}')">点 击 提 交
                            </a>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        $("select[name='project']").on('change', function () {
                auto_load('#project', '{%  url 'module_search_ajax' %}', '#belong_module_id', 'module');
        });
    </script>
{% endblock %}